{% extends "base.html" %}
{% block title %} Home Page{% endblock title %}
{% block content %}
    
</br>

{% if messages  %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    {% for mes in messages  %}
        <strong>{{mes}}</strong>
    {% endfor %}
    </div>
{% endif %}
{% if items %}
    <h1>List of Items To do</h1>
</br>
    <table class="table table-bordered">
        <thead class="table-dark text-center">
            <td >item</td>
            <td > statu </td>
            <td >create time </td>
            <td >last update</td>
            <td >Delete</td>
        </thead>
        <tbody>
            {% for it in items  %}
                {% if it.completed %}
                    <tr class ="table-success text-center">
                        <td class="text-decoration-line-through">{{it.item}}  </td>
                        <td>{{it.completed}} </td>
                        <td>{{it.create_time}} </td>
                        <td>{{it.update}} </td>
                        <td > <a href ="{% url 'delete' it.id %}" > Delete</a></td>
                    </tr>
                {% else %}
                    <tr class="text-center">
                        <td>{{it.item}}  </td>
                        <td>{{it.completed}} </td>
                        <td>{{it.create_time}} </td>
                        <td>{{it.update}} </td>
                        <td > <a href ="{% url 'delete' it.id %}" > Delete</a></td>
                    </tr>

                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <h1>No Item To do</h1>

{% endif %}
{% endblock content %}
   
